SECRET_KEY = 'django-insecure-vnl8q43gvm%m2jf*nvq8m00=p9t+=e8&efyl5&g^5)#5j9!afk'

DB_ENGINE = django.db.backends.postgresql

DB_NAME = 
DB_USER = 
DB_PASSWORD = 
DB_HOST = 
DB_PORT =


ALLOWED_HOSTS = *
CORS_ALLOWED_ORIGINS = http://localhost:3000
CSRF_TRUSTED_ORIGINS = http://localhost:3000

DEBUG = True

APPLICATION = ASGI

MODE = development


COOKIE_DOMAIN = localhost

STATIC_URL=static/

MEDIA_URL =media/

BASE_PREFIX = 

JWT_REFRESH = 'refresh_token'
JWT_ACCESS = 'access_token'
